<h1>Appbibliothek</h1>

<% if user_signed_in? %> <!-- Dies wird nur angezeigt, wenn ein Benutzer angemeldet ist -->
 <div class="applibary">
    <p class="arrow"><</p>
    <a href="#"><img class="apps" src="<%= asset_path("applicationAppIcon.png") %>"></a>
    <a href="#"><img class="apps" src="<%= asset_path("feedbackAppIcon.png") %>"></a>
    <a href="https://taiga.bl.ch" target="_blank"><img class="apps" src="<%= asset_path("kanbanAppIcon.png") %>"></a>
    <a href="#"><img class="apps" src="<%= asset_path("rotationplanerAppIcon.png") %>"></a>
    <a href="#"><img class="apps" src="<%= asset_path("weeklyreportAppIcon.png") %>"></a>
    <p class="arrow">></p>
  </div>
  <p>Willkommen test, <%= current_user.email %>! <%= button_to("Abmelden", destroy_user_session_path, method: :delete) %></p>
<% else %>   <!-- Dies wird nur angezeigt, wenn kein Benutzer angemeldet ist -->
  <p>Bitte melde dich an oder registriere dich.</p> <%= button_to("Anmelden", new_user_session_path) %></p>
<% end %>